.cabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 1rem;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1rem;
    margin-left: 2rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked~.lista-menu{
    display: block;
}

.lista-menu_titulo,
.lista-menu_item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu_titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao{
    display: none;
}

.container_titulo{
    display: none;
}

.opçoes{
    display: none;
}

@media screen and (min-width: 1024px){
    .container_titulo,
    .container_titulo-negrito{
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container_titulo{
        font-weight: 400;
        display: block;
    }

    .container_titulo-negrito{
        font-weight: 700;
    }
}

.opçoes{
    display: flex;
}

.opçoes_item,
.opçoes_link{
    padding: 0 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--preto);
}

.container_imagem-transparente{
    display: none;
}

.cabeçalho_menu-hamburguer{
    display: none;
}

.opçoes_botao:checked~.lista-menu{
    display: block;
    width: auto;
}

.opçoes_botao{
    display: none;
}

.container_texto{
    display: none;
}

@media screen and (min-width: 1728px){
    .container_link{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--preto);
    }

    .cabeçalho{
        padding: 0 2em;
    }

    .opçoes{
        margin-right: auto;
    }

    .container_texto{
        display: block;
    }
    
}